.printContainer {
    background-color: red;
    width: 800px;
}
.container {
    display: flex;
    padding: 0 16px 0 16px;
    height: 100%;
    background-color: #fff;
}
.spaceBetween {
    display: flex;
    justify-content: space-between;
}
.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.logo {
    width: 200px;
    align-self: flex-end;
}
.providerTicket {
  align-self: flex-end;
  max-width: 70%;
}
.separator {
    background-color: rgb(0, 0, 0);
    height: 2px;
    margin: 10px 0;
}
.separatorLight {
    background-color: rgba(0, 0, 0, .5);
    height: 1px;
    margin: 10px 0;
}

.bold {
    font-weight: 500;
}
.txtBig {
    font-size: 18px;
    color: #000
}
.txtRegular {
    font-size: 16px;
    color: #000
}
.txtSmall {
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.maxWidth70 {
    max-width: 27%;
}

.quantityWidth {
  width: 20%;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mb5 {
    margin-bottom: 5px;
}

.producto {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    background-color: rgb(245, 245, 245);
}
