@media only screen and (max-width: 769px) {

  .banner-container{
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .service-title {
      text-transform: uppercase;
      font-weight: bold;
      font-family: "Montserrat";
      letter-spacing: 2px;
  }

  .service-text {
      margin: 0;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 100;
  }

  .service-item {
      margin: auto;
      text-align: center;
  }

  .header-container{
    align-items: center;

  }

}

.banner-container{
  display: none;

}

.banner-title {
    margin: 10px 0 30px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #020600;
    font-family: "Montserrat";
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    text-transform: uppercase;
}
