.mini-cart {
  position: absolute;
  width: 460px;
  top: calc(100%);
  right: calc(-100%);
  background: #fff;
  z-index: 99;
  box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.2);
  border: 1px solid #f3f3f3;
  border-width: 1px 0 0 1px;
  transition: right 200ms ease-in-out;
  padding: 20px;
  text-align: left;
  font-size: 90%;
  overflow: auto;
  max-height: 400px;
}

.mini-cart-open .mini-cart {
  right: 0;
}

.mini-cart-item-price {
  padding-bottom: 6px
}

.cart-option-name {
  color: #999;
}

.cart-quantity {
  color: #999;
}

.mini-cart .product-old-price {
  padding-right: 10px;
  color: #636363;
}

.mini-cart .product-new-price {
  color: #e72b1e;
}

.mini-cart .product-option {
  margin-bottom: 15px;
}

.mini-cart .product-option-name {
  color: #777;
}

/*
Mobile
*/
@media screen and (max-width: 768px) {
  .mini-cart {
    top: 3.25rem;
    position: fixed;
    width: 90%;
    z-index: 1002;
    bottom: 0;
    overflow-y: scroll;
    font-size: 82%;
    max-height: none;
  }
}
