.section-checkout {
  background-color: #f5f5f5;
}

.columns-checkout {
  flex-direction: row-reverse;
}

.checkout-form {
  margin: 0;
  padding: 0;
}

.checkout-button {
  padding-left: 3rem;
  padding-right: 3rem;
  text-transform: uppercase;
}

.checkout-button:disabled {
  background-color: rgba(0, 0, 0, 0.2);
}

.checkout-button-wrap {
  text-align: center;
  margin-top: 30px;
}

.checkout-field {
  margin-bottom: 14px;
}

.checkout-field input[type="text"],
.checkout-field input[type="number"],
.checkout-field input[type="email"],
.checkout-field input[type="tel"],
.checkout-field textarea {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 12px 16px;
}

.checkout-field input[type="text"]:focus,
.checkout-field input[type="email"]:focus,
.checkout-field input[type="number"]:focus,
.checkout-field input[type="tel"]:focus,
.checkout-field textarea:focus {
  outline: none;
  border: 1px solid #a1a1a1;
}

.checkout-field input[type="text"].invalid,
.checkout-field input[type="email"].invalid,
.checkout-field input[type="number"].invalid,
.checkout-field input[type="tel"].invalid,
.checkout-field textarea.invalid {
  border: 1px solid #e96161;
  background-color: rgba(233, 97, 97, 0.05);
}

.checkout-field label {
  font-size: 9pt;
  font-weight: normal;
  color: #747679;
  margin-bottom: .5em;
  display: block;
}

.checkout-field .error {
  color: #e96161;
  padding-left: 10px;
  font-weight: 500;
}

.checkout-field-preview {
  display: flex;
  margin-bottom: 0.1rem;
  font-size: 0.8rem;
}
.checkout-field-preview .name {
  width: 50%;
  color: #747679;
  text-align: right;
  padding-right: 10px;
}
.checkout-field-preview .value {
  width: 50%;
  color: #000;
}

.checkout-form h1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.checkout-form h1 span {
  color: #747679;
  margin-right: 0.5rem;
}

.checkout-form h2 {
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 16px;
}

.shipping-methods, .payment-methods {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 14px;
}

.shipping-method, .payment-method {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-weight: normal;
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  margin: 0;
}

.shipping-method div, .payment-method div {
  flex-grow: 2;
}

.shipping-method input[type="radio"], .payment-method input[type="radio"] {
  margin-right: 16px;
  min-width: 20px;
}

.shipping-method.active, .payment-method.active, .shipping-method:hover, .payment-method:hover {
  background-color: #f9f9f9;
}

.shipping-method-description, .payment-method-description {
  font-size: 12px;
  color: #747679;
}

.payment-method:last-child, .shipping-method:last-child {
  border-bottom: none;
}

.payment-method-name {

}

.shipping-method-name {

}

.shipping-method-rate {
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 500;
  padding-left: 10px;
}

.payment-method-logo {

}

.checkout-box, .checkout-step {
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1);
}

.checkout-box .summary-block {
  background-color: #f2f3f5;
  margin: 0 -30px 0 -30px;
  padding: 30px;
  border-radius: 0 0 8px 8px;
  font-size: 0.9rem;
  line-height: 1.8rem;
  color: #656565;
}

.checkout-box hr.separator {
  height: 2px;
  background-color: #ebebed;
}

.checkout-box .product-image {
  max-width: 80px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.checkout-box .price {
  font-size: 0.9rem;
}

.checkout-box .total-text {
  font-weight: 500;
}

.checkout-box .total-price {
  text-align: right;
  font-weight: 500;
  font-size: 1.25rem;
}

.checkout-box .qty {
  align-items: center;
  margin: 5px 0;
  display: flex;
}

.checkout-box .qty span:first-of-type {
  margin-right: 10px;
}

.checkout-step {
  margin-bottom: 30px;
}

.billing-as-shipping {
  margin: 10px 0;
  cursor: pointer;
}

.billing-as-shipping label {
  padding-left: 10px;
}

.checkout-success-details {}

.checkout-success-title {
  text-align: center;
}

.checkout-success-title img {
  width: 60px;
  padding-bottom: 20px;
}

.checkout-success-totals {}
.checkout-success-totals div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.checkout-success-row {
  margin-bottom: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  border-bottom: 1px solid #dbdbdb;
  align-items: center;
}

.checkout-success-row span {
  color: #999;
}

.checkout-success-details .shipping-field {
  font-size: 90%;
  margin-top: 4px;
}

.checkout-success-details .shipping-field label {
  color: #747679;
}

/*
Mobile
*/
@media screen and (max-width: 768px) {
  .section-checkout {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .columns-checkout {
    padding: 0;
    margin: 0;
  }

  .checkout-box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .checkout-box, .checkout-step {
    // border-radius: 0px;
    // box-shadow: none;
  }

  .checkout-box .summary-block {
    margin: 0 -20px 0 -20px;
    // border-radius: 0;
  }

  .checkout-success-row {
    font-size: 0.75rem;
  }

  .section-checkout h1 {
    font-size: 1.5em;
  }

  .checkout-button {
    width: 100%;
  }
}

/*
StripeElement
*/
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}