.mini-login {
  position: absolute;
  width: 460px;
  top: calc(100%);
  right: calc(-100%);
  background: #fff;
  z-index: 99;
  box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.2);
  border: 1px solid #f3f3f3;
  border-width: 1px 0 0 1px;
  transition: right 200ms ease-in-out;
  padding: 20px;
  text-align: left;
  font-size: 90%;
  overflow: auto;
  max-height: 590px;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.mini-login-open .mini-login {
  right: 0;
}

.mini-login-item-price {
  padding-bottom: 6px
}

.login-option-name {
  color: #999;
}

.login-quantity {
  color: #999;
}

.mini-login .product-old-price {
  padding-right: 10px;
  color: #636363;
}

.mini-login .product-new-price {
  color: #e72b1e;
}

.mini-login .product-option {
  margin-bottom: 15px;
}

.mini-login .product-option-name {
  color: #777;
}

/*
Mobile
*/
@media screen and (max-width: 768px) {
  .mini-login {
    top: 3.25rem;
    position: fixed;
    width: 90%;
    z-index: 1002;
    bottom: 0;
    overflow-y: scroll;
    font-size: 82%;
    max-height: none;
  }
}
